In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
df = pd.read_csv('C:/Users/akhde/OneDrive/Desktop/MLOps/Loan-Fraud-Detection/data/raw/personality_dataset.csv')

In [42]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [43]:
df.shape

(2900, 8)

In [44]:
df = df.drop_duplicates()

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2512 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2451 non-null   float64
 1   Stage_fear                 2439 non-null   object
 2   Social_event_attendance    2451 non-null   float64
 3   Going_outside              2447 non-null   float64
 4   Drained_after_socializing  2461 non-null   object
 5   Friends_circle_size        2437 non-null   float64
 6   Post_frequency             2449 non-null   float64
 7   Personality                2512 non-null   object
dtypes: float64(5), object(3)
memory usage: 176.6+ KB

In [46]:
df.isnull().mean()

Time_spent_Alone             0.024283
Stage_fear                   0.029061
Social_event_attendance      0.024283
Going_outside                0.025876
Drained_after_socializing    0.020303
Friends_circle_size          0.029857
Post_frequency               0.025080
Personality                  0.000000
dtype: float64

In [47]:
num_cols = df.select_dtypes(include='number').columns.tolist()
cat_cols = df.select_dtypes(include='object').columns.tolist()

In [48]:
for i in num_cols:
    df[i] = df[i].fillna(df[i].median())

for i in cat_cols:
    df[i] = df[i].fillna(df[i].mode()[0])

In [49]:
df.shape

(2512, 8)